:root {
    --dark: #1b1b1b;
    --light: #fff;
    --gold: #c7b8a5;
}

body {
    font-weight: 200;
    background-color: var(--dark);
    font-family: 'Oswald', sans-serif;
    color: var(--light);
    letter-spacing: .05rem;
}

.bg-light {
    background-color: var(--light) !important;
}

img {
    max-width: 100%;
}

.lead-xl {
    font-size: 1.75rem;
}

.navbar {
    min-height: 5rem;
}

.nav-link {
    margin-left: 2rem;
}

.sideways {
    writing-mode: vertical-lr;
    display: block;
    margin: 3.5rem 0;
    transform: rotate(180deg);
}

.border-right {
    border-right: 1px solid rgba(256, 256, 256, .1) !important;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid var(--light);
    border-radius: 0;
    color: var(--light);
    padding: .7rem 2.5rem;
    font-size: 1.25rem;
    transition: all 1s ease-out;
}

.btn-primary:hover {
    background-color: var(--light);
    color: var(--dark);
    border: 1px solid var(--light);
}

@media (max-width: 991.98px) {
    .content {
        padding: 5rem 0;
    }
}

@media (max-width: 1199.98px) {
    .sideways {
        margin: 2rem 0;
    }
    .lead-xl {
        font-size: 1.25rem;
    }
}